<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>{{header}}</span>
  <div class="spacer"></div>
  <!--
  <i class='fab fa-linkedin' style='font-size:36px'></i>
  -->
  <a aria-label="mruanova on linkedin" target="_blank" rel="noopener" href="{{linkedin}}" title="linkedin">
    <i class="fa fa-linkedin-square"
      style="padding-right:20px; font-size:36px; color:rgb(255, 255, 255); background-color: #1976d2;"></i>
  </a>
  <!--
  <a target="_blank" rel="noopener" href="{{youtube}}">
  <i class='fab fa-youtube' style='font-size:36px'></i>
  </a>
  -->
  <a aria-label="mruanova on youtube" target="_blank" rel="noopener" href="{{youtube}}" title="youtube">
    <i class="fa fa-youtube-square"
      style="height:36px; font-size:36px; color:rgb(255, 255, 255); background-color: #1976d2;"></i>
  </a>

  &nbsp;
  &nbsp;
  &nbsp;
</div>
<div class="content" role="main">
  <br />
  <div class="card highlight-card card-small">
    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
      viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill="#dd0031" />
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33"
            d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
            transform="translate(0.371 3.363)" fill="#fff" />
          <path id="Path_34" data-name="Path 34"
            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)" fill="#fff" />
        </g>
      </g>
    </svg>
    <span style="font-size: 40px;">{{ title }}</span>
    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>
  </div>
  <br />
  <div style="display: block;">
    <div class="photo">
      <img src="{{image}}" alt="mau" style="margin-right: 10px;height: 150px;width: 150px;" />
    </div>
    <div class="about">
      <h3>Leadership</h3>
      <p>My name is <a target="_blank" href="{{linkedin}}">Mauricio Ruanova</a>&nbsp;and I am the
        <a target="_blank" href="{{teamLeader}}">lead</a>&nbsp;of a global team of <a target="_blank"
          href="{{softwareEngineer}}">software engineers</a>. I coordinate developers in <a target="_blank"
          href="{{offshore}}">offshore</a>, <a target="_blank" href="{{nearshore}}">nearshore</a>&nbsp;and different
        cities across the United States. I manage the relationship with <a target="_blank"
          href="{{stakeholders}}">project stakeholders</a>&nbsp;and <a target="_blank"
          href="{{clientFacing}}">client-facing</a>&nbsp;communication. I live in <a target="_blank"
          href="{{chicago}}">Chicago</a>&nbsp;and I work in <a target="_blank" href="{{central}}">Central Time Zone</a>,
        which allows me to work easily with other <a target="_blank" href="{{timeZone}}">time zones</a>.
      </p>
    </div>
  </div>
  <hr />
  <div style="display: block;">
    <div class="about">
      <h3>AGILE METHODOLOGY</h3>
      <p>We follow an <a target="_blank" href="{{agile}}">agile</a>&nbsp;<a target="_blank"
          href="{{methodology}}">methodology</a> where I am the moderator of our
        daily
        <a target="_blank" href="{{standUp}}">stand-up meeting</a>,
        <a target="_blank" href="{{sprintPlanning}}">sprint planning</a>,
        <a target="_blank" href="{{grooming}}">backlog refining</a>&nbsp;and
        <a target="_blank" href="{{retro}}">retrospective</a>. We create epics, features, user stories, <a
          target="_blank" href="{{guestimate}}">ball-park
          estimates</a>&nbsp;and story points. I prioritize tickets, assign resources, plan deliveries, <a
          target="_blank" href="{{releases}}">releases</a>
        and <a target="_blank" href="{{deployments}}">deployments</a>.
      </p>
    </div>
    <div class="photo">
      <!--
        <i class='fas fa-calendar' style='font-size:150px;margin-left: 50px;color:silver'></i>
      -->
      <i class='fa fa-calendar' style='font-size:150px;margin-left: 50px;color:silver'></i>
    </div>
  </div>
  <hr />
  <div style="display: block;">
    <div class="photo">
      <!--
        <i class='fas fa-user-friends' style='font-size:150px;margin-right: 30px;color:silver'></i>
      -->
      <i class='fa fa-group' style='font-size:150px;margin-right: 30px;color:silver'></i>
    </div>
    <div class="about">
      <h3>MANAGEMENT and Software Engineering</h3>
      <p>I interview candidates and conduct&nbsp;<a target="_blank" href="{{perfomanceAppraisal}}">performance
          appraisals</a>, mentor and coach <a target="_blank" href="{{softSkills}}">soft skills</a> like assertive
        communication, teamwork, <a target="_blank" href="{{time}}">time management</a>, negotiation, forgiveness,
        leadership, and help them plan their <a target="_blank" href="{{career}}">career</a>&nbsp;path. I promote a
        positive work environment with long lasting friendships.
      </p>
    </div>
  </div>
  <hr />
  <div style="display: block;">
    <div class="about">
      <h3>Microsoft .Net Framework</h3>
      <p>
        Certification Microsoft ASP.Net <a href="https://github.com/mruanova/dotnet" target="_blank">CORE</a>, LINQ,
        Entity Framework. We develop highly scalable <a target="_blank" href="{{saas}}">Saas</a>&nbsp;solutions using C#
        <a target="_blank" href="{{net}}">.NET</a>, <a target="_blank" href="{{devops}}">DevOps</a>, <a target="_blank"
          href="{{microservices}}">microservices</a>, <a target="_blank"
          href="{{serverless}}">serverless</a>&nbsp;computing, Test Driven Development&nbsp;and&nbsp;<a target="_blank"
          href="{{test}}">test automation</a>&nbsp;frameworks with <a href="https://specflow.org"
          target="_blank">specflow</a>. I troubleshoot <a target="_blank" href="{{bug}}">bugs</a>. I perform <a
          target="_blank" href="{{codeReview}}">code-reviews</a>&nbsp;for <a target="_blank"
          href="{{quality}}">quality</a>, duplicated code, coding standards, <a target="_blank" href="{{unit}}">unit
          tests</a>, code coverage, code complexity, comments, bugs, performance, and security vulnerabilities with <a
          target="_blank" href="{{sonarQube}}">code analysis</a>&nbsp;tools.
      </p>
    </div>
    <div class="photo">
      <!--
        <i class='fas fa-database' style='font-size:150px;margin-left: 50px;color:silver'></i>
      -->
      <i class='fa fa-database' style='font-size:150px;margin-left: 50px;color:silver'></i>
    </div>
  </div>
  <hr>
  <div style="display: block;">
    <div class="photo">
      <!--
        <i class='fas fa-laptop' style='font-size:150px;margin-right: 30px;color:silver'></i>
      -->
      <i class='fa fa-laptop' style='font-size:150px;margin-right: 30px;color:silver'></i>
    </div>
    <div class="about">
      <h3>FRONT-END Web Development</h3>
      <p>
        Created <a target="_blank" href="{{softwareArchitecture}}">software architectures</a>
        for <a target="_blank" href="{{frontEnd}}">Front-End Web Development</a>.
        <a target="_blank" href="https://docs.microsoft.com/en-us/learn/certifications/exams/70-480">Microsoft Certified
          Professional</a>,
        ASP.Net MVC, <a href="https://en.wikipedia.org/wiki/Microsoft_Enterprise_Library" target="_blank">Microsoft
          Enterprise Library</a> and <a target="_blank"
          href="https://mruanova.com/snippets.html">HTML5/CSS3/JavaScript</a>
        examples.
        Created websites using the latest version of <a target="_blank" href="{{react}}">REACT</a> in the front-end,
        also Mapbox GL and C3/D3 chart library
        that requests all projects from a RESTful web service with an Http Get method and renders the JSON response in a
        list and a map.
      </p>
    </div>
  </div>
  <hr>
  <div style="display: block;">
    <div class="about">
      <h3>CLOUD Computing Solutions Architect</h3>
      <p>
        AWS <a target="_blank" href="https://aws.amazon.com/certification/certified-cloud-practitioner/">Certified Cloud
          Practitioner</a> and I completed the training for <a target="_blank"
          href="https://www.udemy.com/course/aws-certified-solutions-architect-associate/">Solutions Architect
          Associate</a> on Udemy. Worked with Terraform. In the back-end an AWS <a href="{{api}}">API</a> Gateway
        endpoint executes a serverless Lambda function in Node.js that reads data from DynamoDB. The domain is
        registered in Route 53 and the website is hosted in an S3 bucket. CloudFront distributes the HTTPS/SSL
        certificate. I also have experience with Docker containers, Kubernetes, EC2. Cloud Watch, Cloud Trail, Cloud
        Formation.
      </p>
    </div>
    <div class="photo">
      <!--
        <i class='fas fa-cloud-sun' style='font-size:150px;margin-left: 30px;color:silver'></i>
      -->
      <i class='fa fa-cloud' style='font-size:150px;margin-left: 30px;color:silver'></i>
    </div>
  </div>
  <hr>
  <div style="display: block;">
    <div class="photo">
      <i class='fa fa-bar-chart' style='font-size:150px;margin-right: 30px;color:silver'></i>
    </div>
    <div class="about">
      <h3>Data Science</h3>
      <p>
        Experience with <a target="_blank" href="{{data}}">Data Science</a>,
        <a target="_blank" href="{{ai}}">Artificial Intelligence</a>&nbsp;and
        <a target="_blank" href="{{machine}}">Machine Learning</a>.
        Certification
        <a target="_blank" href="https://www.codingdojo.com/data-science-ml-python-bootcamp">Data Science plus Machine
          Learning</a> and <a target="_blank" href="https://www.coursera.org/specializations/deep-learning">Deep
          Learning
          Specialization</a>,
        created <a href="https://public.tableau.com/profile/mruanova" target="_blank">Tableau Public</a> youtube <a
          target="_blank" href="https://youtu.be/v7-MZkz-3BE">tutorial</a> and became
        <a href="https://kaggle.com/mruanova" target="_blank">Kaggle</a> expert. Create tutorial
        <a target="_blank" href="https://youtu.be/QjrfUO91wfc">Python Django deployment from GitHub to AWS EC2</a>.
        <a href="https://www.codingdojo.com/onsite-boot-camp" target="_blank">Onsite
          Coding Bootcamp</a> on Python and MEAN/MERN full stack (Mongo DB, Express, Angular/React, Node).
        I have very good reputation at <a target="_blank" href="https://stackoverflow.com/users/5490782/mruanova/">Stack
          Overflow</a> and <a target="_blank" href="https://www.hackerrank.com/mruanova">Hacker Rank</a>.
      </p>
    </div>
  </div>
  <hr>
  <div style="display: block;">
    <div class="about">
      <h3>Education</h3>
      <p>
        In 2003, I graduated from <a target="_blank" href="https://www.udem.edu.mx/itc">Bachelor of Science</a> degree
        in Computer Science and Software Engineering. I studied Data Science, Machine Learning, Artificial Intelligence,
        Calculus, Linear Algebra, Discrete Mathematics, Probability and Statistics. Compilers, Operating Systems, Data
        Structures, Databases, Front-End Web Development, Object Oriented Programming, Software Architecture.
        I wrote a book on agile methodology available in <a target="_blank" href="{{book}}">Google Books</a>
        and a paper on <a target="_blank" href="{{paper}}">Springer</a>.
      </p>
    </div>
    <div class="photo">
      <!--
        <i class='fas fa-graduation-cap' style='font-size:150px;margin-left: 30px;color:silver'></i>
      -->
      <i class='fa fa-graduation-cap' style='font-size:150px;margin-left: 30px;color:silver'></i>
    </div>
  </div>
  <hr>
  <div style="display: block;">
    <div class="photo">
      <i class='fa fa-truck' style='font-size:150px;margin-right: 30px;color:silver'></i>
    </div>
    <div class="about">
      <h3>Prevous Experience</h3>
      <p>
        Successfully delivered the new <a href="https://tms.echo.com" target="_blank">TMS</a> Accelerator platform for
        Echo Global Logistics. It contains two main modules: Tracking Board and Truck Load Rating with Decision Support
        dashboard using <a target="_blank" href="{{react}}">REACT</a>.
        Microsoft Azure devops, builds, artifacts, workflows and release pipelines CI/CD and Kubernetes <a
          href="https://github.com/mozilla/sops">SOPS</a> secrets.
        Implemented One Login authorization and authentication with <a
          href="https://github.com/IdentityModel/oidc-client-js" target="_blank">OIDC</a>. <a
          href="https://launchdarkly.com" target="_blank">Dark release</a> with <a
          href="https://en.wikipedia.org/wiki/Feature_toggle" target="_blank">Feature Toggle</a> flags.
        <a href="https://github.com/storybookjs/storybook/" target="_blank">StoryBook.js</a>,
        <a href="https://www.npmjs.com/package/rollup" target="_blank">NPM RollUp</a>,
        <a href="https://en.wikipedia.org/wiki/Feature_toggle" target="_blank">Feature Toggle</a>,
        <a href="https://github.com/lerna/lerna" target="_blank">Lerna</a> monorepo, zeplin, sketch.
        Successfully delivered the new version of <a href="https://echodrive.com" target="_blank">EchoDrive</a> and <a
          href="https://echoship.com" target="_blank">EchoShip</a>, a migration from Angular.js version 1.6 to Angular
        latest version. Also successfully delivered the new <a href="https://www.echo.com/" target="_blank">Shipment
          Tracker</a> for Echo Global Logistics.
      </p>
    </div>
  </div>
  <hr />
  <div style="display: block;">
    <div class="about">
      <h3>User Experience</h3>
      <p>
        Successfully delivered project for <a href="{{signage}}" target="_blank">Digital Signage</a> for COATES and
        McDonalds Global Headquarters
        Successfully delivered project for SOLSTICE and Corcoran Real Estate agents.
        Successfully delivered project for <a href="{{feedback}}" target="_blank">360-degree feedback</a> for Human
        Resources and recruitment company.
        Successfully delivered project for steel company.
      </p>
    </div>
    <div class="photo">
      <i class='fa fa-building' style='font-size:150px;margin-left: 50px;color:silver'></i>
    </div>
  </div>
  <hr />
  <div style="display: block;">
    <div class="photo">
      <i class='fa fa-credit-card' style='font-size:150px;margin-right: 30px;color:silver'></i>
    </div>
    <div class="about">
      <h3>electronic payment systems</h3>
      <p>
        Successfully delivered project for payments between banks (<a href="{{ach}}" target="_blank">ACH</a>, <a
          href="{{eft}}" target="_blank">EFT</a>, <a href="{{iso}}" target="_blank">ISO</a>, <a href="{{swift}}"
          target="_blank">SWIFT message types</a> like MT101). Successfully delivered project for major retailers (<a
          href="{{shoplocal}}" target="_blank">Weekly Ad</a>). Successfully delivered project for <a href="{{ehr}}"
          target="_blank">EHR</a>&nbsp;healthcare. Successfully delivered project for American bank (<a
          href="{{underwriting}}" target="_blank">underwriting</a>).
      </p>
    </div>
  </div>
  <hr />
  <footer>
    <a class="card" target="_blank" rel="noopener" href="{{linkedin}}" style="width: 100px;">
      LinkedIn
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
    &nbsp;
    <a class="card" target="_blank" rel="noopener" href="{{youtube}}" style="width: 100px;">
      YouTube
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </footer>
  <iframe src="https://mruanova.com/truck/index.html" title="truck" height="420px" width="100%"
    style="border:none;overflow: hidden;"></iframe>
  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>
</div>